* {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #EDE8DC;
  color: rgb(62, 60, 60);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CCD5AE;
  padding: 1rem 3rem;
  position:fixed;
  width: 100%;
}

.nav-top {
  display: flex;
  list-style: none;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

.menu-item {
  text-decoration: none;
  color: rgb(62, 60, 60);
  font-weight:900;
}

.logo{
  color: rgb(62, 60, 60);
  font-weight:900;
}

.menu-item:hover{
text-decoration: underline;
}

main {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}

.nav-side {
  background-color: #E7CCCC;
  color: rgb(62, 60, 60);
  padding: 1rem 0;
  text-align: center;
  width: 200px;
  position: fixed;
  height: 100%;
  margin-top: 21px;
}

.nav-side-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-1 {
  width: 100%;
  margin-left: 200px;
}

.nav-side-list li {
  padding: 2rem 0.5rem;
  border-bottom: 1px solid grey;
}

header{
 display: flex;
 padding: 2rem;
 align-items: center;
 border-bottom: 1px solid gray;
}

.container-text{
 width: 60%;
 text-align: center;
}

.container-pic{
 width: 40%;
}

.header-pic{
 width: 100%;
 height: auto;
 border-radius: 100%;
}

section{
 padding: 2rem;
 border-bottom: 1px solid gray;
}

p{
 text-align: justify;
}

h1{
 font-weight: 900;
}

h2{
 font-weight: 700;
}

 @media (max-width: 768px){
  .nav-side{
   display: none;
   width: 0%;
  }

  .nav-top{
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
  }

  .logo{
   display: none;
  }

  .container-1{
   margin-left: 0;
  }

  header{
   flex-direction: column;
   gap: 1rem;
   background-color: #eedada;
  }

  .header-pic{
  border-radius: 100%;
 }

 .section-2{
  background-color: #eedada;
 }
 }


