* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #EDE8DC;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CCD5AE;
  padding: 1rem 3rem;
}

.nav-top {
  display: flex;
  list-style: none;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

.logo,
.menu-item {
  text-decoration: none;
  color: rgb(62, 60, 60);
  font-weight: bold;
}

main {
  display: flex;
  gap: 1rem;
}

.nav-side {
  width: 20%;
  background-color: #E7CCCC;
  color: rgb(62, 60, 60);
  padding: 1rem 0;
  text-align: center;
  min-width: 150px;
}

.nav-side-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-1 {
  width: 80%;
}

.nav-side-list li {
  padding: 2rem 0.5rem;
  border-bottom: 1px solid grey;
}

header{
 display: flex;
 padding: 2rem;
 align-items: center;
 border-bottom: 1px solid gray;
}

.container-text{
 width: 60%;
 text-align: center;
}

.container-pic{
 width: 40%;
}

.header-pic{
 width: 100%;
 height: auto;
 border-radius: 100%;
}

section{
 padding: 2rem;
 border-bottom: 1px solid gray;
}

p{
 text-align: justify;
}


